.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.top1{
  font-family: monospace;
font-style: normal;
font-weight: 500;
font-size: 24px;
}
.top button{
    background: #D3E5FE;
border-radius: 40px;
color: #1236AA;
padding: 3px 22px;

}
.simple1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  #8C93A3;;
}
.simple2{
   text-align: initial;
   font-family: 'Satoshi';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   margin-top: 10px;
}
.date{
    display: flex;
    align-items: center;
   margin-left: auto;
  font-family: monospace;
  font-style: normal;
font-weight: 500;
font-size: 20px;
}
