.tep{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tep1{
    font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 24px;
}
.tep button{
    background: #EBFCD5;
border-radius: 40px;
color: #0D6008;
padding: 3px 22px;

}
.sample1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  #8C93A3;;
}
.sample2{
   text-align: initial;
   font-family: 'Satoshi';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   margin-top: 10px;
}
