
  
  .header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid  #DBDBDB;
  
  }
  
  .manu {
    
    flex-basis: 250px;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
  }
  .loga{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF8D7;
    opacity: 0.5;
   height: 72px;
   width: 250px;
  
  }
  .loga p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F1A240;
   align-items: center;
   justify-content: center;
  }
  
  .cantent {
  
   width: 100%;
   height: 100vh;
   border: 2px solid lightgray;
   
   
  }
  
  .flax-container {
    display: flex;
    height:100vh
  }
  .flax{
   height: 100vh;
   width: 100%;
  }
  .bax{
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
   
  }
  .bax p{
    color: #000;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }
  
  .mina{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mina1{
   border: 2px solid black;
   border: transparent;
    width: 100%;
    height: 72px;
  }
  .mina1 p{
    color: #8C93A3; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  .mina2{
    border: 2px solid black;
   border: transparent;
      height: 72px;
      width: 100%;
    border-bottom: 2px solid #F1A240;
  }
  .mina2 p{
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  .mina3{
    border: 2px solid;
    border: transparent;
   
    width: 100%;
    height: 72px;
   
  }
  .mina3 p{
    color: #8C93A3;
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  
  .baa{
    border: 6px solid  #DBDBDB;
   
  }
  .baa1{
    border: 6px solid  #DBDBDB;
    
  }