.tope{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tope1{
    font-family: monospace;
font-style: normal;
font-weight: 500;
font-size: 24px;
}
.tope button{
    background: #FFE3D6;
border-radius: 40px;
color: #7A0933;
padding: 3px 22px;

}
.simplee1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  #8C93A3;;
}
.simplee2{
   text-align: initial;
   font-family: 'Satoshi';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   margin-top: 10px;
}
.dete{
    display: flex;
    align-items: center;
   margin-left: auto;
   font-style: normal;
font-weight: 500;
font-size: 20px;
font-family: monospace;
}
.scrool{
    width: 100%;
    background-color: #DBDBDB;;
    height:600px;
    overflow: hidden;
    overflow-y: scroll;
   
}
.buc1{
    border-top: 6px solid #DBDBDB;
}